body {
    background-image: url(CinemaCurtains.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: gray;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.head {
    background-color: black;
    color: red;
    padding: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.login {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: fit-content;
    color: #ffffff;
    cursor: pointer;
    background-color: gray;
}

.RegisterForm {
    color: black;
    background-color: gray;
}

.RegisterText {
    color: white;
    font-size: 20px;
}

.movieDiv {
    color: white;
}